*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #262626FF;
}
div{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100px;
	width: 300px;
	font-size: 50px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	border: 2px solid deeppink;
	border-radius: 50px;
	box-shadow: 1px 1px 40px black;
	cursor: pointer;
}
div::after{
	content: '';
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	margin: auto;
	margin-right: 75%;
	border-radius: 50px;
	background-color: deeppink;
}
div:hover::after{
	animation: anime 1s ease-in-out forwards;
}
@keyframes anime{
	0%{
		margin-right: 50%;
		height: 80px;
		width: 100px;
		z-index: -1;
	}
	100%{
		margin-right: 0%;
		height: 100px;
		width: 300px;
		box-shadow: 1px 1px 60px deeppink,
					1px 1px 60px deeppink;
		z-index: -1;
	}
}